<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="roommate.yapp.com.yapp13th_roommate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kakao.KaKaoLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPager.ViewPagerMain" />
        <activity android:name=".main.RecyclerViewMainActivity" />
        <activity android:name=".SignUp.SignUp_First_Activity" />
        <activity android:name=".SignUp.SignUp_Second_Activity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/get_kakao_sdk_appkey" />

        <activity android:name=".SignUp.WebViewActivity" />
    </application>

</manifest>